
/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos mobile */



/* estilos generales */

body{
    background-color: #E6E6DD;
    color: black;

}

/* estilos header */

header {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    
}

/* estilos main */



main div img{
    width: 80%;
    height: 80%;
    object-fit: cover;
}

main{
margin: 0 30%;
height: 90vh;
display: grid;
grid-template-columns: 1fr; 
grid-template-rows: repeat (4, 25%) ;
row-gap: 5px;
align-content: center;
}

/* estilos footer */

.footer{
    text-align: center;
    color: white;
    background-color: black;

}

/* MQ tablet */

@media screen and (min-width: 768px){

main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 45%);
    gap: 5px;
}

/* MQ escritorio */

@media screen and (min-width: 1280px) {
    
    main{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80% 80% 80% 80% ;
    }

    main .img-uno{
        grid-row: span 2;
    }

    main .img-dos{
        grid-row: span 1;
    }

    main .img-tres{
        grid-row: span 3;
    }

    main .img-cuatro{
        grid-row: span 4;
    }

}



}