*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }    

.parrafo-inicio{
    font-style: bold;
    color: rgb(44, 2, 2);
    background-color: rgb(230, 230, 230);
}
        
.sobre{
    align-items:center;
    align-content: center;
 }
        